structure.txt

# =========================
# Build
# =========================
bin/
obj/

# =========================
# Rider
# =========================
.idea/
*.sln.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# NuGet
# =========================
*.nupkg
packages/
.nuget/

# =========================
# Test results
# =========================
TestResults/
coverage/

# =========================
# Publish output
# =========================
publish/
out/

# =========================
# Environment files
# =========================
.env
.env.*
appsettings.Development.json

# =========================
# Docker
# =========================
docker-compose.override.yml